
/* //////////////////////////////////////////////////////////////////////// */
/* A N I M A T I O N  CSS */
/* //////////////////////////////////////////////////////////////////////// */


/* Bounce Animation */
@keyframes bouncewow {
  0%{
    margin-top: 0;
  }

  50%{
    margin-top: -20px;
  }

  100%{
    margin-top: 0;
  }
}

/* Scroll Bar */
::-webkit-scrollbar{
	width: 25px;
}

::-webkit-scrollbar-track{
	border:7px solid #232943;
	box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
	background: linear-gradient(
		360deg,
		#03e9f4,
		deeppink
		);
    border-radius: 3px;	
}

@keyframes retrobar {
  0% {
    fill: #03e9f4;
  }
  100%{
	fill: deeppink;
  }
}



/* Change color of an SVG Image (PNG) */
.color-change {
  animation: pulse 5s infinite;
  animation-timing-function: ease;

}
/* https://codepen.io/sosuke/pen/Pjoqqp */
/* used CSS filter generator to change fill of svg image color*/
@keyframes pulse {
  0% {
    filter: invert(29%) sepia(81%) saturate(5112%) hue-rotate(314deg) brightness(99%) contrast(109%);
  }

  25%{

  }
  50%{
  	filter: invert(79%) sepia(7%) saturate(6008%) hue-rotate(127deg) brightness(96%) contrast(99%);
  }
  75%{
  	
  }

  100%{
	filter: invert(29%) sepia(81%) saturate(5112%) hue-rotate(314deg) brightness(99%) contrast(109%);
  }
}



/* Neon Link Border */
/* No Glowing Effect */

.neon-link-border{

	/* Default style*/
	color: #30e9f4; /* Main Font Color; You can Customize this */
	margin: 0px;
	padding: 0;
	font-family: arial;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	padding: 25px 30px;
	margin:40px 0;
	font-size: 100px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	letter-spacing: 4px;
	-webkit-box-reflect: below 1px linear gradient(transparent,#0005);

	background: -webkit-linear-gradient(#30e9f4, deeppink);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;


}

.neon-link-border span{
	position: absolute;
	display: block;
}

/* top line */

.neon-link-border span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#03e9f4);/* Must be equal to Main Font Color */
	animation: animate1 1s linear infinite;
}

@keyframes animate1 
{
	0%
	{
		left: -100%;
	}
	50%,100%
	{
		left: 100%;
	}
	
}


/* right line */
.neon-link-border span:nth-child(2){
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#03e9f4);/* Must be equal to Main Font Color */
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
}

@keyframes animate2 
{
	0%
	{
		top: -100%;
	}
	50%,100%
	{
		top: 100%;
	}
	
}


/* bottom line */
.neon-link-border span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,deeppink);/* Must be equal to Main Font Color */
	animation: animate3 1s linear infinite;
	
}

@keyframes animate3
{
	0%
	{
		right: -100%;
	}
	50%,100%
	{
		right: 100%;
	}
	
}


/* left line */
.neon-link-border span:nth-child(4){
	bottom: -100%;
	left: 0%;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,deeppink);/* Must be equal to Main Font Color */
	animation: animate4 1s linear infinite;
	animation-delay: 0.25s;
}

@keyframes animate4
{
	0%
	{
		bottom: -100%;
	}
	50%,100%
	{
		bottom: 100%;
	}
	
}


/* Ants Animation Design */

svg {
    
    font: 2em 'Montserrat';
    width: 960px;
    height: 300px;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 3px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #03e9f4;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #03e9f4;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #03e9f4;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: deeppink;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: deeppink;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}






/* Moving OBjects */


.animation-area{
   width:50%;
   height: 10px;
}


.box-area{
   z-index: 1;
   position:absolute;
   top: 8%;
   left: 0;
   width: 100%;
   height: 80%;
   overflow: hidden;
}

.box-area li{
   position: absolute;
   display: block;
   list-style: none;
   width: 25px;
   height: 25px;
   background: rgba(255,255,255,0.2);
   animation: animateshape 20s linear infinite;
   bottom: 5%;
}

.box-area li:nth-child(1){
   left: 100%;
   width: 350px;
   height: 350px;
   animation-delay: 0s;
}

.box-area li:nth-child(2){
   left: 12%;
   width: 30px;
   height: 30px;
   animation-delay: 1.5s;
   animation-duration: 10s;
}

.box-area li:nth-child(3){
   left: 20%;
   width: 100px;
   height: 100px;
   animation-delay: 5.5s;
}

.box-area li:nth-child(4){
   left: 42%;
   width: 150px;
   height: 150px;
   animation-delay: 0s;
   animation-duration: 15s;
}

.box-area li:nth-child(5){
   left: 65%;
   width: 40px;
   height: 40px;
   animation-delay: 0s;
}
.box-area li:nth-child(6){
   left: 15%;
   width: 110px;
   height: 110px;
   animation-delay: 3.5s;
}

@keyframes animateshape {
   0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
   }
   100%{
      transform: translateY(-800px) rotate(360deg);
      opacity: 0;
   }

}
