/*============= RESETS =============*/

/*-- iPhone X Remove Gutters --*/
html {
   padding: env(safe-area-inset);
   overflow-x: hidden;
   font-family: 'Lato', sans-serif;
}
/*-- Prevent Horizontal Scrolling & Font Style --*/
html, body {
   overflow-x: hidden;
   font-family: 'Lato', sans-serif;
   color: white;
   background-color: #0b0c22;
   background: linear-gradient(to left, #009AE4,deeppink );
   }

.text-jason{
   animation: pulse 5s infinite;
   animation-timing-function: ease;
}

/*--- Nav Scrolling Offset --*/
.offset:before {
   content: "";
   height: 4.5rem;
   display: block;
   margin-top: -4.5rem;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
   padding: 1rem;
}



.adjust-whoami {
   position: relative;
   width: 100%;
   height: 20vh;
   display: table;
   z-index: -1;
}
.whoami-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}
.whoami-inner {

}

/*============= WHOAMI? START =============*/

.navbar{
	background-color: #090a1e;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .2rem;
	font-size: .9rem;
	transition: background-color .5s ease;
}

.navbar-nav li{
	padding-right: 2rem;
}

.navbar-nav .nav-link{
	color:white;
	padding-top: .8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	color: deeppink;
  	animation: pulse 5s infinite;
  	animation-timing-function: ease;
}

.logo-name {
   color: deeppink;
   animation: pulse 5s infinite;
   animation-timing-function: ease;
}


.custom-toggler-icon{
	font-size: 1.6rem;
}

.navbar.solid,
.navbar.solid-toggle {
   background: rgba(0, 0, 0, .7)!important;
   transition: background-color 1s ease;
}

/*-- Remove Button Outline --*/
button:focus,a:focus{
	outline: 0;
	-webkit-appearance: none;
	box-shadow: none;
	transition: all .6s ease;
}

button, a, a.btn{
	transition: all .6s ease;
}


/*-- Landing Page Caption --*/

#me-cartoon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.me-cartoon-float{
  animation: bouncewow 2s infinite;
  -webkit-animation: bouncewow 2s infinite;
}





.caption{
   padding-top: 10%;
}
.caption h1 {
   font-size: 7rem;
   letter-spacing: .3rem;

}
.caption h3 {
   font-size: 2.5rem;
}

/*-- Bouncing Down Arrow --*/
.arrow {
   position: absolute;
   bottom: 0;
   width: 100%;
   animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite;
}
.down-arrow .svg-inline--fa {
   color: white;
   font-size: 2.2rem;
   opacity: .3;
}
.down-arrow .svg-inline--fa:hover {
   opacity: .8;
}

/* landing Page Fixer*/

.landing {
   position: relative;
   width: 100%;
   height: 30vh;
   display: table;
   z-index: -1;
}
.home-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}
.home-inner {
   background-image: url('../img/computers.jpg');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   will-change: transform;
   display: table;
}



/*--- PROJECT SECTION --*/

h3.heading {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 1.9rem;
   text-align: center;
   margin-bottom: 1.9rem;
}
.heading-underline {
   width: 3rem;
   height: .2rem;
   background-color: white;
   margin: 0 auto 2rem;
}


.light {
   background-color: rgba(255, 255, 255, .05);
   padding: 5rem 0;
   z-index: 1000;
}

.owl-stage {
   display: flex;
}
.card {
   color: gray;
   height: 100%;
   border-radius: 0;
   text-align: center;
   margin: 0 1rem;
   border: .1rem solid rgba(0, 0, 0, .075);
   box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
   transition: transform .4s ease;

}
.card:hover {
   transform: scale(.95);
}
button.owl-dot.active span,
button.owl-dot:hover span {
   background: deeppink!important;
}
ul.social {
   list-style: none;
   padding: 0;
   margin: 0;
   font-size: 1.5rem;
}
ul.social li {
   display: inline;
   padding-right: .8rem;
}
ul.social li a {
   color: deeppink;
   transition: all .2s ease;
}
ul.social li a:hover {
   color: deeppink;
}

#project-carousel {
   max-width: 1200px;
   margin: 0 auto;
}

/*============= END PROJECT SECTION =============*/

/*============= CONTACT SECTION =============*/

.footer {
   background: url('../img/footer/footer.jpg') no-repeat;
   background-size: cover;
   color: white;
   /* background-color: #505962; */
}
.row.outer {
   
   padding: 1rem 2rem 3rem;
}
.footer img {
   height: 2rem;
   margin: 1.5rem 0;
}
.footer a,
.footer ul.social li a {
   color: white;
}
.footer ul.social li a:hover {
   color: deeppink;
}
.footer h3 {
   text-transform: uppercase;
   margin: 1.5rem 0;
}

/*--- START CONTACT FORM --*/
.form-group {
   margin-bottom: 1.3rem;
   color: deeppink;
}
.form-control {
   border-radius: 0;
   border: .15rem solid #666b71;
   color: black!important;
   font-size: 1.1rem;
}
.form-control:focus {
   border: .15rem solid deeppink;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
   color: #b2b5b8!important;
}
hr.socket {
   border-top: .2rem solid black;
   width: 100%;
}


/*--- END CONTACT FORM --*/

/*============= TOP SCROLL =============*/

a.top-scroll {
   right: 1.2rem;
   bottom: 1.2rem;
   position: fixed;
   opacity: .3;
   z-index: 1000;
   display: none;
}
a.top-scroll:hover {
   opacity: .5;
}
.top-scroll .svg-inline--fa {
   background: white;
   color: #53595f;
   font-size: 3rem;
   height: 1.7rem;
}
